

.root {
    -fx-app-background: #3c3f41;
    -fx-background-color: -fx-app-background;
    -fx-padding: 0;
}

.label {
    -fx-background-color: #3c3f41;
    -fx-font-size: 10pt;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-opacity: 0.6;
}

.text-area{
    -fx-app-background: blue;
    -fx-background-color: -fx-app-background;
    -fx-border-color: purple;

}

.button{
    -fx-background-color: #3c3f41;
    -fx-border-color: white;
    -fx-text-fill: white;
}
